 /* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#6c6b6b;
}

main {
	height:400px;
	background-image: url("img/mv.jpg");
	background-position: bottom;
	background-size: cover;
	padding:20px 0 0 20px;
}

section {
	width:840px;
	margin: 0 auto;
	padding:20px 0;
}

.webcamps {
	padding:30px 0;
	border-bottom: solid 1px lightgray;
}
